@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --main-color: #4a00e0;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);

  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}

section {
  padding: 50px 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 18px 10%;
}

*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  /* padding: 18px 10%; */
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54/15%);
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.navbar a:hover {
  color: var(--hover);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

#darkmode {
  font-size: 22px;
  cursor: pointer;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.home-img {
  order: 3;
}

.home-img img {
  width: 100%;
}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}

.home-text h1 {
  font-size: var(--big-font);
}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}

.social a:hover {
  color: var(--hover);
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn:hover {
  background: var(--hover);
}

.scroll-down {
  position: absolute;
  bottom: 4rem;
  left: 18.5%;
}

.scroll-down a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color);
}

.scroll-down .bx {
  color: var(--main-color);
  font-size: 24px;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: var(--medium-font);
}

.heading span {
  font-size: var(--p-font);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.about-img img {
  width: 80%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.information {
  margin: 1rem 0 1.4rem;
}

.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.information .info-box .bx {
  font-size: 22px;
}

.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}

.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.bars-box h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  height: 0.5rem;
}

.html-bar {
  width: 94%;
}

.css-bar {
  width: 84%;
}

.js-bar {
  width: 74%;
}

.react-bar {
  width: 80%;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.services-box {
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54/15%);
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}

.services-box .bx {
  padding-top: 2rem;
  font-size: 24px;
  color: var(--main-color);
}

.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.portfolio-img {
  overflow: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.portfolio-img img {
  width: 100%;
  display: block;
}

.portfolio-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
